extends ../layout

block content
  .container
    - var hasUser = users.length > 0 
    if hasUser
      h3 ユーザー管理
      ul.admin-list
        each user in users
          li(class="#{user.userId}") 
            .photo
              img(src="#{user.photoUrl}")
            .information #{user.username}
            .action
              a.comp-ui(href="/admin/users/update/#{user.spaceId}") 編集
              a.comp-ui(href="/admin/users/delete/#{user.spaceId}") 削除
