extends layout

block content
  if loginUser
    .container
      - var hasSpace = spaces.length > 0
      if hasSpace
        h3.comp-head-middle
          span マイスペース
        ul.space-list
          each space in spaces
            li(class="#{space.space.spaceId}") 
              .information 
                .photo
                  img.responsive-img(src="#{space.space.imgPath}")
                .name #{space.space.spaceName}
              .data
                .availabilities
                  .head 今日のツモリスト
                    span #{space.availabilities.length}
                    &nbsp;人
                  ul.body
                    each availability in space.availabilities
                      li.availability(class="#{availability.branchPoint}")
                        .photo
                          img.profile-img(src="#{availability.photoUrl}")
                        .name #{availability.username}
                        .arriving #{availability.arrivingAt}
                        if availability.branchPoint
                          span.now Now
                  i.fas.fa-chevron-down.btn-more
              .action
                form(method="post" action="/availabilities")
                  input(type="hidden" name="spaceId" value="#{space.spaceId}")
                  input(type="hidden" name="availabilityUserFlag" value="#{space.availabilityUserFlag}")
                  .plans
                    .value.hour
                      select.comp-ui(name="hour")
                        each value in hours
                          option(value="#{value}") #{value}
                    .unit.hour 時間
                    .value.minute
                      select.comp-ui(name="minute")
                        each value in minutes
                          option(value="#{value}") #{value}
                    .unit.minute 分後
                  if space.availabilityUserFlag 
                    button.tumoli-button.comp-ui 行くツモリに変更
                  else
                    button.tumoli-button.comp-ui 行くツモリ
