extends layout

block content
  if loginUser
    - var hasSpace = spaces.length > 0
    if hasSpace
      h3 #{loginUser.displayName} のスペース一覧
      ul.space-list
        each space in spaces
          li(class="#{space.spaceId}") 
            .information 
              .photo
                img.responsive-img(src="#{space.imgPath}")
              .name #{space.spaceName}
            .data
              .availabilities
                .head ツモリスト
                  span #{space.availabilities.length}
                  &nbsp;人
                ul.body
                  each availability in space.availabilities
                    li.availability
                      img.profile-img(src="#{availability.photoUrl}")
                      span #{availability.username}
                button.more.comp-ui もっとみる
            .action
              button(data-space-id=space.spaceId).tumoli-button.comp-ui ツモリ
  else
    h1= title
