extends layout

block content
  if loginUser
    - var hasSpace = spaces.length > 0
    if hasSpace
      h3 あなたのスペース一覧
      ul.space-list
        each space in spaces
          li 
            .information 
              .photo
                img.responsive-img(src="#{space.imgPath}")
              .name #{space.spaceName}
            .data
              .availabilities ツモリスト #{space.availabilities.length} 人
            .action
              button(data-space-id=space.spaceId).tumoli-button.comp-ui ツモリ
  else
    h1= title
