doctype html
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge7')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='shortcut icon' href='#{configVars.heroku.url}images/favicon.ico' type='image/vnd.microsoft.icon')
    link(rel='icon', href='#{configVars.heroku.url}images/favicon.ico' type='image/vnd.microsoft.icon')
    link(rel='apple-touch-icon', href='#{configVars.heroku.url}images/apple-touch-icon.png')
    meta(property='og:type', content='website')
    meta(property='og:url', content='#{configVars.heroku.url}')
    meta(property='og:title', content='#{title}')
    meta(property='og:image', content='#{configVars.heroku.url}images/ogp.jpg')
    meta(property='og:locale', content='ja_JP')
    meta(property='og:site_name', content='ツモリンク')
    meta(property='og:description', content='ツモリをつなげて、みんながあつまるアプリケーションです')
    meta(property='fb:app_id', content='#{configVars.facebook.app_id}')
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='@tumolink')
    link(href='/stylesheets/style.css', rel='stylesheet', type='text/css')
    link(href='https://use.fontawesome.com/releases/v5.0.6/css/all.css', rel='stylesheet', type='text/css')
    script(src="#{configVars.vuejs.file}")
    script(async src="https://www.googletagmanager.com/gtag/js?id=#{configVars.google.ga_id}")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '#{configVars.google.ga_id}');
  body
    div(id="fb-root")
      script.
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v3.2&appId=#{configVars.facebook.app_id}&autoLogAppEvents=1';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    header.clearfix
      .menu
        div(id="nav-drawer")
          input(id="nav-input", type="checkbox", class="nav-unshown")
          label(id="nav-open",  for="nav-input")
            span
          label(class="nav-unshown", id="nav-close", for="nav-input")
          div(id="nav-content")
            .head
              label.nav-unshown(for="nav-input") MENU
            .navigation
              nav
                if loginUser
                  a(href="/home/") ホーム
                a(href="/privacy/") プライバシーポリシー
      .logo
         a(href="/")
           img(src="/images/common/logo.png" width="40" height="40")
      .login
        if loginUser
          span.login-user
            if loginUser.thumbnailPath
              img.profile-img(class="profile-img", src="#{loginUser.thumbnailPath}")
            else if loginUser.photoUrl 
              img.profile-img(class="profile-img", src="#{loginUser.photoUrl}")
            else
              span #{loginUser.username}
            .pulldown-menu
              if loginUser.nickname
                p #{loginUser.nickname}
              else
                p #{loginUser.username}
              a(href="/logout") ログアウト
              a(href="/mypage/edit") ユーザー情報編集
        else
          span.nav-login ログイン
    block content
    .overlay
      .modal
        .panel
          a.fb-login.comp-ui(href="/auth/facebook") Facebookでログイン
        button.close.comp-ui(type="button") close
    script(src="/javascripts/bundle.js")
    block script
