extends layout

block content
  .container
    h3 スペース管理
    a.comp-ui(href="/admin/spaces/create") 新規スペース作成
    - var hasSpace = spaces.length > 0 
    if hasSpace
      ul.admin-list
        each space in spaces
          li(class="#{space.spaceId}") 
            .photo
              img.responsive-img(src="#{space.imgPath}")
            .information #{space.spaceName}
            .action
              a.comp-ui(href="/admin/spaces/update/#{space.spaceId}") 編集
              a.comp-ui(href="/admin/spaces/delete/#{space.spaceId}") 削除
