extends ../layout

block content
  .container
    form(method="post", action="/mypage/edit/#{user.userId}", enctype="multipart/form-data")
      .form-spaces
        .form-elem
          label.comp-ui ユーザーネーム
          p #{user.username}
        .form-elem
          label.comp-ui(id="nickname") ニックネーム
            input.comp-ui(type="text", name="nickname", value="#{user.nickname}", id="nickname")
        .form-elem
          label.comp-ui アイコン画像
            if user.thumbnailPath
              p.thumb
                img.responsive-img(src="#{user.thumbnailPath}")
            else
              p.thumb
                img.responsive-img(src="#{user.photoUrl}")
            input.comp-ui(type="file", name="thumbnail", id="thumbnail")
        button.comp-ui(type="submit") 更新
