extends ../layout

block content
  .mypage
    .information
      .photo
        if loginUser.thumbnailPath
          img(src="#{loginUser.thumbnailPath}")
        else
          img(src="#{loginUser.photoUrl}")
      if loginUser.nickname
        .name #{loginUser.nickname}
      else
        .name #{loginUser.username}
    .container
      h3.comp-head-middle
        span ツモ履歴
      table.record
        thead
          tr
            th 日時
            th スペース
            th 行く
            th 帰る
        tbody
          each availability in availabilities
            if availability.space
              tr
                td 
                  |#{availability.formattedCreatedAtArray[0]}
                  br
                  |#{availability.formattedCreatedAtArray[1]}
                td #{availability.space.spaceName}
                td
                  |#{availability.formattedArrivingAtArray[0]}
                  br
                  |#{availability.formattedArrivingAtArray[1]}
                td
                  if availability.formattedLeavingAtArray
                    |#{availability.formattedLeavingAtArray[0]}
                    br
                    |#{availability.formattedLeavingAtArray[1]}
